.checkout-form {
    display: flex;
    flex-flow: row;
    width: 100%;
}


.section{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:1.5rem;
    
}

.section:last-of-type{
    justify-content: center;
}

.section span{
    display: flex;
    width: 100%;
    margin:0;
    gap: .5rem;
}


.section p {
    width: 100%;
}

.lineBreak{
    height: 100%;
    margin: 0 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.205);
}




.checkout-input {
    margin: 10px 0 0 0;
    max-width: 100%;
    min-height: 2em;
}



.checkout-submit {
    display: block;
    width: 100%;
    margin: 5em auto;
    height: 2em;
    font-size: medium;
    border: none;
    background-color: rgb(29, 156, 29);
    color:white;
    cursor: pointer;
    font-weight: bold;
    transition: 350ms ease-in-out;
}

.checkout-submit:hover{
    box-shadow: inset rgb(152, 240, 152) 0 0 10px;
}

.order-summary {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: .75rem 1.5rem;
    width: 100%;
    gap: .5rem;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: .75rem 0;
}
